#wrapper1 {
    display:grid; 
    grid-template-columns: 33% 33% 1fr;
    grid-template-rows: 10vh 10vh 10vh 30vh 30vh;
    grid-template-areas: 
    'hd1 hd1 hd1'
    'nav1 nav1 nav1'
    'div1 div2 div3'
    'sc1 sc2 sc3'
    'sc4 sc5 sc6'
    ;
    gap: 15px;
    /*background-image: url(/img/strand.jpg); */
}

header {
    grid-area: hd1;
    text-align: center;
    color: #3498db ;
}

header h1 {
    margin:0px;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    grid-area: nav1;
    text-align: center;
    color: black;
    justify-content: space-evenly;
    padding: 18px 0px;
    margin: 0px;
}

#navtest{
    margin-top: 10px;
    justify-content: space-evenly;
    text-align: center;
}

#navtest3{
    margin-top: 15px;
    justify-content: space-evenly;
    text-align: center; 
}

#div {
    grid-area: div1;
    text-align: center;
    color: green;
}

#section1 {
    grid-area: sc1;
    display: grid;
    background-image: url(/img/Flygplansomlyfter.jpg);
    background-size: cover;
    border-radius: 15px;
}
#section2 {
    grid-area: sc2;
    display: grid;
    background-image: url(/img/hotellrum.webp);
    background-size: cover; 
    border-radius: 15px;
}
#section3 {
    grid-area: sc3;
    display: grid;
    background-image: url(/img/hyrbil.jpg);
    background-size: cover;
    border-radius: 15px;
}
#section4 {
    grid-area: sc4;
    color: black;
}
#section5 {
    grid-area: sc5;
    color: black;
}
#section6 {
    grid-area: sc6;
    color: black;
}

#flygplan-bild {
    width: 300px;
    height: 175.5px;
}

#wrapper2 {
    display: grid;
    grid-template-columns: 33% 33% 1fr;
    grid-template-rows: 10vh 20vh 15vh 35vh 25vh;
    grid-template-areas: 
    'hd1 hd1 hd1'
    'nav1 nav1 nav1'
    'div1 div1 div1'
    'sc1 sc2 sc3'
    'ft1 ft1 ft1';
    gap: 15px;
}

div {
    grid-area: div1;
    color: black;
    text-align: center;
}

#section21 {
    grid-area: sc1;
    color: black;
    background-image: url(/img/väder.jpg);
    background-size: contain;
    border-radius: 10%;
    background-repeat: no-repeat;
}

#section22 {
    grid-area: sc2;
    color: black;
    background-image: url(/img/valutaomvandlare.png);
    background-size: cover;
    border-radius: 10%;
}

#section23 {
    grid-area: sc3;
    color: black;
    background-image: url(/img/tidszoner.jpg);
    background-size: cover;
    border-radius: 10%;
}
  
#footer {
    display: flex ;
    grid-area: ft1 ;
    color: black;
    text-align: center;
    justify-content: center;
    gap: 28vw ;   
}

#wrapper3 {
    display: grid;
    grid-template-columns: 33% 16.5% 16.5% 1fr;
    grid-template-rows: 10vh 10vh 15vh 15vh 15vh 15vh 15vh 90vh;
    grid-template-areas:
    'hd1 hd1 hd1 hd1'
    'nav1 nav1 nav1 nav1'
    'div1 div1 div1 div1'
    'sc1 sc1 sc2 sc3'
    'sc1 sc1 sc4 sc5'
    'sc1 sc1 sc6 sc7'
    'sc1 sc1 sc8 sc9'
    'div5 div5 div5 div5';
    gap: 15px;
    height: 140vh;

}

.map-section1 {
    text-align: center;
    margin: 2rem auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    height: 27.5rem;
    width: 30rem;
    transform: translateX(5rem);
}

.map-section1 iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border: 15px;
}

.map-section1 h2 {
    font-size: 1.8rem;
    color: black;
    margin-bottom: 0.5rem;
}

.map-section1 p {
    font-size: 1rem;
    color: black;
    margin-bottom: 1rem;
}

#section32 {
    grid-area: sc2;
    background-image: url(/img/bild-haj.png);
    background-size: cover;
    border-radius: 15px;
}

#section33 {
    grid-area: sc3;
    color: black;
}

#section34 {
    grid-area: sc4;
    background-image: url(/img/Island.jpg);
    background-size: cover;
    border-radius: 15px;
}

#section35 {
    grid-area: sc5;
    color: black;
}

#section36 {
    grid-area: sc6;
    background-image: url(/img/Greklandbild.jpg);
    background-size: cover;
    border-radius: 15px;
}

#section37 {
    grid-area: sc7;
    color: black;
}

#section38 {
    grid-area: sc8;
    background-image: url(/img/Grancanrai.jpg);
    background-size: cover;
    border-radius: 15px;
}

#section39 {
    grid-area: sc9;
    color: black;
}
.div5 {
    grid-area: div5;
    width: 100%;            
    max-width: 600px;     
    height: 400px;      
    position: relative;      
    overflow: hidden;    
    margin: 0 auto;        
    border: 2px solid #000;
    border-radius: 10px;
}

.div5 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;  
}